extends layout

block content
  div(class='logoContainer')
    div(class='mainLogo')
  div(class='aboutContent')
    div(class='aboutMsg')
      h1 About Us
      p The South Asian Covid Task Force (SACTF) is a grassroots, volunteer organization founded in November 2020 by a team of physicians, business and community leaders from across Canada. Our mission is to help raise awareness about COVID-19 within the South Asian community and to advocate for the removal of structural barriers that exacerbate the spread of COVID-19 in the community.
      p The Task Force continues to effectively disseminate relevant, culturally appropriate public health messaging, in various South Asian languages and across different communications platforms, in order to help inform the community on stopping the spread of COVID-19. 
      p We are proud to share that we are collaborating with Public Health Units across the country to provide accurate public health messaging that addresses the realities of the South Asian community’s experiences.
      p The Task Force is working to provide free information resources through collaboration with community partners and South Asian media. 
      p We are also working with the Ontario Vaccine Task Force to increase vaccine uptake within the South Asian community and help address vaccine hesitancy.
    //
      h1 Our Team
      div(class='teamLayout')
        div(class='teamMember')
          img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
          h3 Team member name 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
        div(class='teamMember')
          img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
          h3 Team member name 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
        div(class='teamMember')
          img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
          h3 Team member name 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
        div(class='teamMember')
          img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
          h3 Team member name 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
        div(class='teamMember')
          img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
          h3 Team member name 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
        div(class='teamMember')
          img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
          h3 Team member name 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
        div(class='teamMember')
          img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
          h3 Team member name 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
        div(class='teamMember')
          img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
          h3 Team member name 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?

