extends layout

block content
  div(class='aboutContent')
    div(class='aboutMsg')
      h1 Our Mission
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum delectus expedita, aliquam odit vel commodi qui soluta ipsum quibusdam, enim officiis, distinctio iste? Sint hic minus nemo aspernatur animi porro, ut possimus molestiae quam earum, ducimus qui delectus, rerum temporibus quis unde maiores architecto quibusdam? Quam neque iste cum natus ipsam dolor amet. Culpa laudantium cumque rem harum nam impedit quis magnam deserunt saepe, neque modi velit commodi sed at dolorum iure ratione aperiam nemo nulla nisi ducimus illo quaerat sit. Sed, voluptatibus rem cum doloremque velit in, esse adipisci perspiciatis fugit quis vel aspernatur voluptates exercitationem reprehenderit totam porro?
    h1 The Team
    div(class='teamLayout')
      div(class='teamMember')
        img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
        h3 Team member name 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
      div(class='teamMember')
        img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
        h3 Team member name 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
      div(class='teamMember')
        img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
        h3 Team member name 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
      div(class='teamMember')
        img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
        h3 Team member name 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
      div(class='teamMember')
        img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
        h3 Team member name 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
      div(class='teamMember')
        img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
        h3 Team member name 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
      div(class='teamMember')
        img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
        h3 Team member name 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?
      div(class='teamMember')
        img(src='../images/placeHolderImg.jpg' alt='Photo of team member')
        h3 Team member name 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ea praesentium. Molestias reiciendis exercitationem id nostrum tempore itaque quae accusamus, harum natus ratione sapiente quaerat, error ipsum vero ad recusandae?


