extends layout

block content
  div(class='dResourcesBody')
    if error 
        p error
    h1 Downloadable Resources - #{language}
    h3 Click on the 'Download' button below each resource to download it.
    div(class='dResource')
        a(href='/downloadable-resources/Bengali' class={active: language === 'Bengali'}) Bengali
        a(href='/downloadable-resources/Punjabi' class={active: language === 'Punjabi'}) Punjabi
        a(href='/downloadable-resources/Gujarati' class={active: language === 'Gujarati'}) Gujarati
        a(href='/downloadable-resources/English' class={active: language === 'English'}) English
        a(href='/downloadable-resources/Tamil' class={active: language === 'Tamil'}) Tamil
        a(href='/downloadable-resources/Hindi' class={active: language === 'Hindi'}) Hindi
    div(class='downloadableContent')
        each path in resources
            div(class='singleResource')
                - var path = '../dResources/' + path;
                img(src=path alt='Downloadable resource' width='300px' height='300px')
                form(action='' method='post')
                    button(class='dButton' name='file' value='/'+path) Download