extends layout

block content
  div(class='homepageContent')
    div(class='homepageSubContent')
      div(class='welcomeMsg')
        h1 Welcome 
        p The South Asian Covid Task Force is a grassroots, volunteer organization that was started by physicians and community members who felt the need to do more to help the South Asian community battle the spread and impact of COVID-19.
        p Here you will find information and resources on COVID-19 and the vaccines in various South Asian languages. Feel free to download and share, or contact us for more information.
        p
         strong We are stronger together, and together we can beat COVID-19.