extends layout

block content
  div(class='homepageContent')
    div(class='homepageSubContent')
      div(class='welcomeMsg')
        h1 Welcome message 
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem dignissimos laborum deserunt voluptatibus cumque, provident debitis, quisquam in, culpa consequatur nostrum ad tempora id sunt error reprehenderit! Quis provident ducimus modi eos reiciendis natus, dicta expedita quos praesentium repudiandae nisi mollitia rerum dignissimos consectetur omnis ipsa facilis, quisquam hic? Ipsam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, unde? Possimus nemo temporibus, natus, voluptate incidunt error voluptatum asperiores officiis porro eveniet a adipisci veritatis neque id amet odio non corrupti, provident ipsa quas eius saepe excepturi architecto. Numquam doloremque hic commodi ullam ipsam qui quasi itaque unde nihil maxime?