// 216.59 86.19
doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet")
  header   
    input(type='checkbox' id='nav-toggle' class='nav-toggle')
    h1(class='smlLogo') Menu
    a(href='/home')
      img(class='navLogo' src="../images/sactfNav.png" width='80px' height='80px')
    h1(class='logo') south asian covid task force
    nav
      ul(class='navbar-nav')
        li
          a(href='/home' class={activeNav: page === 'home'}) Home
        li
          a(href='/about' class={activeNav: page === 'about'}) About
        li
          a(href='/contact' class={activeNav: page === 'contact'}) Contact
        li
          a(href='/media' class={activeNav: page === 'media'}) Media
        li
          a(href='/resources' class={activeNav: page === 'resources'}) Resources
    label(for='nav-toggle' class='nav-toggle-label')
      i(class='fa fa-bars')
  body
    block content
  footer 
    div(class='footer')
      div(class='socialMedia')
        h3 Social Media
        ul 
          a(href='https://www.twitter.com/')          
            li 
              i(class='fa fa-twitter') 
                span(class='smLink') &nbsp;&nbsp; SACTF Twitter
          a(href='https://twitter.com/sacovidtf')
            li 
              i(class='fa fa-instagram') 
                span(class='smLink') &nbsp;&nbsp; SACTF Instagram
          a(href='https://www.instagram.com/southasiancovidtf_multilingual/')
            li 
              i(class='fa fa-instagram') 
                span(class='smLink') &nbsp;&nbsp; SACTF Punjabi Instagram          
          a(href='https://www.instagram.com/southasiancovidtfpunjabi/')
            li 
              i(class='fa fa-facebook') 
                span(class='smLink') &nbsp;&nbsp;&nbsp; SACTF Facebook
          a(href='https://www.facebook.com/SouthAsianCOVIDTaskForce')
            li
              i(class='fa fa-youtube') 
                span(class='smLink') &nbsp;&nbsp; SACTF Youtube
      div(class='footerContact') 
        h3 Contact
        ul 
          li General: &nbsp;info@southasiancovid.ca
          li &nbsp;&nbsp;&nbsp;Media: &nbsp;media@southasiancovid.ca
          li &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BC: &nbsp;bc@southasiancovid.ca
      div(class='footerNav')
        ul(class='footer-nav')
          li
            a(href='/home') Home
          li
            a(href='/about') About
          li
            a(href='/contact') Contact
          li
            a(href='/media') Media
          li
            a(href='/resources') Resources


